<%
    var translate = {
        'en' : {
            'You do not have sufficient privileges to access':'You do not have sufficient privileges to access',
            'Error':'Error',
            'Dashboard':'Dashboard',
            'Date':'Date',
            'Equipment':'Equipment',
            'Device':'Device',
            'Alarm Type':'Alarm Type',
            'System Health':'System Health',
            'System Throughput':'System Throughput',
            'Time In System':'Time In System',
            'BHS Overview':'BHS Overview',
            'Time':'Time',
            'Alarms':'Alarms',
            'Daily Reminders':'Daily Reminders',
            'Predictive Mainenance Tasks':'Predictive Mainenance Tasks',
            'DEVICE':'DEVICE',
            'REASON':'REASON',
            'Uptime':'Uptime',
            'Failsafe Rate':'Failsafe Rate',
            'Tracking Rate':'Tracking Rate',
            'Key Performance Indicators':'Key Performance Indicators',
            'Throughput (bph)':'Throughput (bph)',
            'State':'State',
            'Jam Rate':'Jam Rate',
            'ATR Read Rate':'ATR Read Rate'
        },
        'es' : {
            'You do not have sufficient privileges to access':'Usted no tiene suficientes privilegios para acceder a',
            'Error':'Error',
            'Dashboard':'Salpicadero',
            'Date':'Date',
            'Equipment':'Equipment',
            'Device':'Device',
            'REASON':'REASON',
            'Alarm Type':'Alarm Type',
            'System Health':'System Health',
            'System Throughput':'System Throughput',
            'Time In System':'Time In System',
            'BHS Overview':'BHS Overview',
            'Time':'Time',
            'Alarms':'Alarms',
            'Daily Reminders':'Daily Reminders',
            'Predictive Mainenance Tasks':'Predictive Mainenance Tasks',
            'DEVICE':'DEVICE',
            'Uptime':'Uptime',
            'Failsafe Rate':'Failsafe Rate',
            'Tracking Rate':'Tracking Rate',
            'Key Performance Indicators':'Key Performance Indicators',
            'Throughput (bph)':'Throughput (bph)',
            'State':'State',
            'Jam Rate':'Jam Rate',
            'ATR Read Rate':'ATR Read Rate'
        }
    }
%>

<div class="row-fluid page-banner">
    <div class="banner-div"><i class="icon-dashboard icon-1x banner-icon-top"></i><div class="banner-div-text"><%= translate[locale]['Dashboard'] %></div></div>
</div>

        <!-- Throws in Error messages if they were passed in from the controller -->
<% if(typeof(errormessage)!='undefined'){ %>
<div class="alert alert-error" style="border-radius:0px;">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><%= translate[locale]['Error'] %>:</strong>
    <%= translate[locale][errormessage] %><% if(typeof(errorurl)!='undefined'){ %> <%= errorurl %><% } %>
</div>
<% } %>


<!-- There next templates are the pieces of the BHS Overview drawing -->
<!-- In order, they represent the columns across the diagram -->


<div class="row-fluid" style="margin-top:19px;">
    <div class="span7 offset1 page-controls-wrapper">
        <div class="row-fluid" id="reportheader"><span style="padding-left:10px;"><%= translate[locale]['Key Performance Indicators'] %></span></div>
        <div class="row-fluid key-indicaters-frame" id="iframediv">
            <div class="row-fluid">
                <div class="row-fluid sort-destination-plan-titles key-performance-div">
                    <div class="row-fluid alarm-header">
                        <div class="span3 gauge">
                            <div id="trackingrategage" class="trackingrategage"></div>
                        </div>
                        <div class="span3 gauge">
                            <div id="faultrategage" class="faultrategage"></div>
                        </div>
                        <div class="span3 gauge">
                            <div id="atrrategage" class="atrrategage"></div>
                        </div>
                        <div class="span3 smallgauge">
                            <div id="smalltrackingrategage" class="smalltrackingrategage"></div>
                        </div>
                        <div class="span3 smallgauge">
                            <div id="smallfaultrategage" class="smallfaultrategage"></div>
                        </div>
                        <div class="span3 smallgauge">
                            <div id="smallatrrategage" class="smallatrrategage"></div>
                        </div>
                        <div class="span3 gauge rightstatsgauge">
                            <div id="timeinsystemlabel" class="row-fluid">
                                  <%= translate[locale]['Time In System'] %>
                            </div>
                            <div id="timeinsystem" class="row-fluid">

                            </div>
                            <div id="bagratelabel" class="row-fluid">
                                <%= translate[locale]['System Throughput'] %>
                            </div>
                            <div id="bagrate" class="row-fluid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- This script template creates a row in the Alarms section -->

<script type="text/template" id="alarm-template">

    {{ var backgroundcolor; var bordercolor; var color; if(severity<10){ backgroundcolor = 'rgb(255,255,255)'; color= 'rgb(0,0,0)'; bordercolor = 'rgb(192,192,192)';}else if(severity<20){ backgroundcolor = 'rgb(255,255,0)'; color= 'rgb(0,0,0)'; bordercolor = 'rgb240,240,0)';}else if(severity<30){ backgroundcolor = 'rgb(120,64,0)'; color= 'rgb(255,255,255)'; bordercolor = 'rgb(128,0,0)';}else if(severity<40){ backgroundcolor = 'rgb(0,0,255)'; color= 'rgb(255,255,255)'; bordercolor = 'rgb(0,0,128)';}else if(severity<50){ backgroundcolor = 'rgb(240,0,0)'; color= 'rgb(0,0,0)'; bordercolor = 'rgb(192,0,0)';}else if(severity<60){ backgroundcolor = 'rgb(255,128,0)'; color= 'rgb(0,0,0)'; bordercolor = 'rgb(255,104,0)';}else if(severity<70){ backgroundcolor = 'rgb(0,255,0)'; color= 'rgb(0,0,0)'; bordercolor = 'rgb(0,128,0)';} }}
    <div class="row-fluid section-config-wrapper" tag_ID="{{= tag_ID}}" style="background-color:{{=backgroundcolor}}; color:{{=color}}; border-color:{{=bordercolor}};">
        <div class="span3">
            <label class="mobile-label"><%= translate[locale]['Date']%>:</label>
            <label class="mobile-element">{{= dateFromISO(timestamp).toLocaleDateString() + " " + dateFromISO(timestamp).toLocaleTimeString() }}
            </label>
        </div>
        <div class="span2">
            <label class="mobile-label"><%= translate[locale]['Equipment']%>:</label>
            <label class="mobile-element">{{= equipment }}
            </label>
        </div>
        <div class="span2">
            <label class="mobile-label"><%= translate[locale]['Device']%>:</label>
            <label class="mobile-element">{{= device }}
            </label>
        </div>
        <div class="span5">
            <label class="mobile-label"><%= translate[locale]['Alarm Type']%>:</label>
            <label class="mobile-element">{{= text }}
            </label>
        </div>
    </div>
</script>

<script>


    var alarms;
    $(document).ready(function(){



        $(window).resize(function(){
        });

        
    });
</script>
