<script type="text/template" id="conveyor_straight">
	<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }}borders{{ }else{ }}ie-element-border{{ } }}" tagname="{{=tagname}}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="background-color:lightgrey; position:absolute; width:{{=length*elementScale}}%; height:{{=beltWidth*elementScale}}%;">
		<div class="conveyor_straight_wall1"></div>
		<div class="conveyor_straight_wall2"></div>		
		<div class="conveyor_straight_wall3"></div>
		<div class="conveyor_straight_wall4"></div>
	</div>
</script>
<script type="text/template" id="mcp">
<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }}borders{{ }else{ }}ie-element-border{{ } }}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="background-color:lightgrey; position:absolute; width:{{=length*elementScale}}%; height:{{=beltWidth*elementScale*0.5}}%;">
	<div class="conveyor_straight_wall1"></div>
	<div class="conveyor_straight_wall2"></div>		
	<div class="conveyor_straight_wall3"></div>
	<div class="conveyor_straight_wall4"></div>
</div>
</script>
<script type="text/template" id="roller_conveyor_straight">
<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }}borders{{ }else{ }}ie-element-border{{ } }}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="background-image: url(../img/rollerconveyor.png)	; position:absolute; width:{{=length*elementScale}}%; height:{{=beltWidth*elementScale}}%;">
	<div class="roller_conveyor_wall1"></div>
	<div class="roller_conveyor_wall2"></div>		
	<div class="roller_conveyor_wall3"></div>
	<div class="roller_conveyor_wall4"></div>
</div>
</script>
<script type="text/template" id="conveyor_turn">
	<div class="hmi-element conveyor-turn{{if(!msieversion()||msieversion()>8){ }} borders{{ } }}" tagname="{{=tagname}}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="background-color:lightgrey; position:absolute; height:{{=beltWidth*elementScale*2}}%;">
		<div class="{{if(msieversion()&&msieversion()<=8){ }}{{=rotation==0?'iebotleft':''}}{{=rotation==90?'ietopleft':''}}{{=rotation==180?'iebotright':''}}{{=rotation==270?'ietopright':''}}{{ }else{ }}conveyor_turn_wall{{ } }}"></div>
	</div>
</script>
<script type="text/template" id="conveyor_label">
	<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }} borders{{ } }}" labeltagname="{{=tagname}}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="position:absolute; color:black; ">
		{{=text}}
	</div>
</script>
<script type="text/template" id="conveyor_label_plain">
<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }} borders{{ } }}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="position:absolute; color:black; ">
	{{=text}}
</div>
</script>
<script type="text/template" id="roller_conveyor_label">
<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }} borders{{ } }}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="position:absolute; color:black;background-color:lightgrey; ">
	{{=text}}
</div>
</script>
<script type="text/template" id="firedoor">
<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }}borders{{ }else{ }}ie-element-border{{ } }}" tagname="{{=tagname}}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="background-color:lightgrey; position:absolute; width:{{=length*elementScale}}%; height:{{=beltWidth*elementScale*0.33}}%;">
	<div class="firedoor_wall1"></div>
	<div class="firedoor_wall2"></div>		
	<div class="firedoor_wall3"></div>
	<div class="firedoor_wall4"></div>
</div>
</script>
<script type="text/template" id="estop">
<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }}borders{{ }else{ }}ie-element-border{{ } }}" estoptagname="{{=tagname}}" tagname="{{=tagname}}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="background-color:lightgrey; position:absolute; width:{{=length}}%; height:{{=length*elementScale*0.33}}%;">
	<div class="estop_wall1"></div>
	<div class="estop_wall2"></div>		
	<div class="estop_wall3"></div>
	<div class="estop_wall4"></div>
</div>
</script>
<script type="text/template" id="estop_label">
<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }} borders{{ } }}" labeltagname="{{=tagname}}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="position:absolute; color:black; ">
	{{=text}}
</div>
</script>

<script type="text/template" id="alarm_legend_row">

	<div class="alarm-legend-row-wrapper">
	{{ if(is_flashing){ }}
	
		<div class="legend-color-box" style="padding-right: 0px; margin-right: 0px; width: 8px; background-color:#{{=background_color}}; {{if(background_color=='FFFFFF'){ }}border:1px solid #696969;{{ }else{  }}border:1px solid #FFFFFF;{{ } }}"></div>
		<div class="legend-color-box" style="padding-left: 0px; margin-left: 0px; width: 8px; background-color:#{{=flash_background_color}}; {{if(flash_background_color=='FFFFFF'){ }}border:1px solid #696969;{{ }else{  }}border:1px solid #FFFFFF;{{ } }}"></div>
	{{ }else{ }}
		<div class="legend-color-box" style="width:20px; background-color:#{{=background_color}}; {{if(background_color=='FFFFFF'){ }}border:1px solid #696969;{{ }else{  }}border:1px solid #FFFFFF;{{ } }}"></div>
	{{ } }}	
		
		<div class="legend-color-text">{{=name}}</div>
	</div>
</script>

<script type="text/template" id="alarm-template">

    {{ var bordercolor = 'rgb(192,192,192)';}}
    <div class="row-fluid section-config-wrapper" tag_ID="{{= tag_ID}}" style="background-color:#{{=background_color}}; color:#{{=text_color}}; border-color:{{=bordercolor}};">
        <div class="span3">
            <label class="mobile-label"><%= __('Date') %>:</label>
            <label class="mobile-element">{{= toLocaleDateTimeString(timestamp) }}
            </label>
        </div>
        <div class="span2">
            <label class="mobile-label"><%= __('Equipment') %>:</label>
            <label class="mobile-element">{{= equipment }}
            </label>
        </div>
        <div class="span2">
            <label class="mobile-label"><%= __('Device') %>:</label>
            <label class="mobile-element">{{= device }}
            </label>
        </div>
        <div class="span5">
            <label class="mobile-label"><%= __('Alarm Type') %>:</label>
            <label class="mobile-element">{{= text }}
            </label>
        </div>
    </div>
</script>
    
    
<div class="overview-fullscreen">
	<i class="icon icon-fullscreen icon-3x"></i>
</div>
<div class="row-fluid" style="margin-top:0px;">
    <div class="span10 offset1 page-controls-wrapper"  id="wrapper" >
        <div class="row-fluid overview-header" id="reportheader" ><span style="padding-left:10px;">BHS Overview</span></div>
        <div class="row-fluid" id="iframediv">
            <div class="row-fluid" style="position:relative; overflow:hidden;">
            	<section>
          
            		<div style="width:35%;text-align:right; float:left;" left=22><i class="icon-arrow-left"></i></div>
            		<div style="width:30%;text-align:left; margin-left:10px; float:left;"><i class="icon-arrow-right"></i></div>
            	</section>
                <div id="overview" class="row-fluid" style="position:relative;"> 
                
                </div>                
                
                <div id="alarm_legend" class="alarm-legend">  
                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid" style="margin-bottom:10px;">
	<div id="fullscreenAlarms" class="span10 offset1 btn btn-primary icon-chevron-up icon-1x"></div> 
</div>
<div class="row-fluid" style="margin-top:0px;">
    <div class="span10 offset1 page-controls-wrapper">
        <div class="row-fluid alarms-header" id="reportheader" style="margin-top:0px;"><span style="padding-left:10px;"><%= __('Alarms') %></span></div>       
        <div class="row-fluid" id="iframediv">

            <div class="row-fluid">
                <div  class="row-fluid sort-destination-plan-titles" style="margin-bottom:0px;">
                    <div class="row-fluid alarm-header">
                        <div class="span3 titlerow">
                            <%= __('Time') %>
                        </div>
                        <div class="span2">
                            <%= __('Equipment') %>
                        </div>
                        <div class="span2">
                            <%= __('Device') %>
                        </div>
                        <div class="span5">
                            <%= __('Alarm Type') %>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" id="alarmsdiv" style="overflow-y:auto;">
                </div>
                </div>
            </div>
        </div>
    </div>
   
    
    
    <script type="text/javascript">
    
    var alarm_legend = <%- JSON.stringify(alarm_legend)%>;
    var aspectRatio = 16/9;
    var offsetLeft = 10;
    var offsetTop = 0;
    var fullscreenAlarm = false;
    var elementScale = 5; // (belt width as percent of screen width)
    var beltWidth = 2; // Depends on elementScale
    $(document).ready(function(){
    	socket.on('connect',initialize);
    });
    
    
    function initialize(){
    	// alert('ready');
    	var overview = $('#overview');
    
    	var conveyor_straight = _.template($('#conveyor_straight').html());	
    	var mcp = _.template($('#mcp').html());	
    	var roller_conveyor_straight = _.template($('#roller_conveyor_straight').html());	
    	var firedoor = _.template($('#firedoor').html());
    	var estop = _.template($('#estop').html());
    	var estop_label = _.template($('#estop_label').html());
    	var conveyor_turn = _.template($('#conveyor_turn').html());	
    	var alarm_legend_row = _.template($('#alarm_legend_row').html());
    	var conveyor_label = _.template($('#conveyor_label').html());
    	var conveyor_label_plain = _.template($('#conveyor_label_plain').html());
    	var roller_conveyor_label = _.template($('#roller_conveyor_label').html());
    	
    	
    	
    	/** Conveyors **/
    	overview.append(roller_conveyor_straight({length:2.3, rotation:0, left:0.3, top:10}));
    	overview.append(roller_conveyor_straight({length:2.3, rotation:0, left:11.3, top:10}));
    	overview.append(conveyor_straight({tagname:'C_MU1_03_STATUS',length:2.3, rotation:0, left:22.3, top:10}));
    	overview.append(conveyor_straight({tagname:'C_MU1_02_STATUS',length:2.3, rotation:0, left:33.3, top:10}));
       	overview.append(roller_conveyor_straight({length:2.3, rotation:0, left:44.3, top:10}));
    	overview.append(conveyor_straight({tagname:'C_MU2_01_STATUS',length:2.3, rotation:0, left:55.3, top:10}));
    	overview.append(conveyor_straight({tagname:'C_MU2_02_STATUS',length:2.3, rotation:0, left:66.3, top:10}));
    	overview.append(roller_conveyor_straight({length:2.3, rotation:0, left:77.3, top:10}));
    	overview.append(roller_conveyor_straight({length:2.3, rotation:0, left:88.3, top:10}));
    	overview.append(conveyor_straight({tagname:'tagname',length:2.2, rotation:90, left:42.2, top:40.8}));
    	overview.append(roller_conveyor_straight({length:1.3, rotation:90, left:44.3, top:56}));
    	overview.append(conveyor_straight({tagname:'C_SS1_01_STATUS',length:1.3, rotation:90, left:44.3, top:67}));
    	overview.append(conveyor_straight({tagname:'C_TC1_02_STATUS',length:4, rotation:0, left:19, top:88.4}));
    	overview.append(conveyor_straight({tagname:'C_TC1_01_STATUS',length:4, rotation:0, left:0, top:88.4}));
    	overview.append(conveyor_turn({tagname:'C_TC1_03_STATUS', rotation:90, left:39.0, top:77.8}));
    	
    	/** Conveyor Labels **/
    	overview.append(roller_conveyor_label({text:'MU1-05',  rotation:0, left:1.2, top:11.5}));
    	overview.append(roller_conveyor_label({text:'MU1-04',  rotation:0, left:13.0, top:11.5}));
    	overview.append(conveyor_label({tagname:'C_MU1_03_STATUS',text:'MU1-03',  rotation:0, left:23.2, top:11.5}));
    	overview.append(conveyor_label({tagname:'C_MU1_02_STATUS',text:'MU1-02',  rotation:0, left:34.4, top:11.5}));
    	overview.append(roller_conveyor_label({text:'MU1-01',  rotation:0, left:45.6, top:11.5}));
    	overview.append(conveyor_label({tagname:'C_MU2_01_STATUS',text:'MU2-01',  rotation:0, left:56.8, top:11.5}));
    	overview.append(conveyor_label({tagname:'C_MU2_02_STATUS',text:'MU2-02',  rotation:0, left:68.0, top:11.5}));
    	overview.append(roller_conveyor_label({text:'MU2-03',  rotation:0, left:79.2, top:11.5}));
    	overview.append(roller_conveyor_label({text:'MU2-04',  rotation:0, left:89.4, top:11.5}));
       	overview.append(conveyor_label_plain({text:'SS1-02', rotation:0, left:50.7, top:55.0}));
    	overview.append(conveyor_label({tagname:'C_SS1_01_STATUS',text:'SS1<br>-01', rotation:0, left:45.7, top:65.6}));
    	overview.append(conveyor_label({tagname:'C_TC1_02_STATUS',text:'TC1-02',  rotation:0, left:25.4, top:89.3}));
    	overview.append(conveyor_label({tagname:'C_TC1_01_STATUS',text:'TC1-01',  rotation:0, left:5.4, top:89.3}));
    	overview.append(conveyor_label({tagname:'C_TC1_03_STATUS', text:'-03', rotation:0, left:44.0, top:83.7}));
    	
    	/** MCP **/
     	overview.append(conveyor_label_plain({text:'MCP-01', rotation:0, left:34.8, top:50.8}));
    	overview.append(mcp({length:2, rotation:90, left:34.2, top:62.8}));
    	/** Firedoor and Labels **/
    	overview.append(conveyor_label_plain({text:'SD/TC1',  rotation:0, left:53, top:78}));
    	overview.append(firedoor({tagname:'C_SD_TC1_STATUS',length:2.2, rotation:0, left:42, top:80}));
    	overview.append(conveyor_label_plain({text:'SD/MU1',  rotation:0, left:29, top:0}));
    	overview.append(firedoor({tagname:'C_FD_MU1_STATUS',length:2.2, rotation:90, left:28, top:13.5}));
    	overview.append(conveyor_label_plain({text:'SD/MU2',  rotation:0, left:62, top:0}));
    	overview.append(firedoor({tagname:'C_FD_MU2_STATUS',length:2.2, rotation:90, left:61, top:13.5}));

    	
    	/** Estop **/
    	overview.append(estop({tagname:'F_TC1_01_CS_ESTOP_ACT',length:4, rotation:0, left:1, top:80}));
    	overview.append(estop_label({tagname:'F_TC1_01_CS_ESTOP_ACT', text:'E', rotation:0, left:2.0, top:80}));
     	overview.append(estop({tagname:'F_SD_TC1_CS_ESTOP_ACT',length:4, rotation:0, left:40, top:72}));
    	overview.append(estop_label({tagname:'F_SD_TC1_CS_ESTOP_ACT', text:'E', rotation:0, left:41.0, top:72}));
       	overview.append(estop({tagname:'F_TC1_02_CS_ESTOP_ACT',length:4, rotation:0, left:51, top:84}));
    	overview.append(estop_label({tagname:'F_TC1_02_CS_ESTOP_ACT', text:'E', rotation:0, left:52.0, top:84}));     	
       	overview.append(estop({tagname:'F_MCP_01_CS_ESTOP_ACT',length:4, rotation:0, left:40, top:56}));
    	overview.append(estop_label({tagname:'F_MCP_01_CS_ESTOP_ACT', text:'E', rotation:0, left:41.0, top:56}));    	
       	overview.append(estop({tagname:'F_SS1_01_CS_ESTOP_ACT',length:4, rotation:0, left:51, top:68}));
    	overview.append(estop_label({tagname:'F_SS1_01_CS_ESTOP_ACT', text:'E', rotation:0, left:52.0, top:68})); 
      	overview.append(estop({tagname:'F_MU1_03_CS_ESTOP_ACT',length:4, rotation:0, left:24, top:2.5}));
    	overview.append(estop_label({tagname:'F_MU1_03_CS_ESTOP_ACT', text:'E', rotation:0, left:25.0, top:2.5})); 
      	overview.append(estop({tagname:'F_FD_MU1_CS_ESTOP_ACT',length:4, rotation:0, left:35, top:20.5}));
    	overview.append(estop_label({tagname:'F_FD_MU1_CS_ESTOP_ACT', text:'E', rotation:0, left:36.0, top:20.5})); 
    	overview.append(estop({tagname:'F_FD_MU2_CS_ESTOP_ACT',length:4, rotation:0, left:61, top:20.5}));
    	overview.append(estop_label({tagname:'F_FD_MU2_CS_ESTOP_ACT', text:'E', rotation:0, left:62.0, top:20.5})); 
    	overview.append(estop({tagname:'F_MU2_02_CS_ESTOP_ACT',length:4, rotation:0, left:72, top:2.5}));
    	overview.append(estop_label({tagname:'F_MU2_02_CS_ESTOP_ACT', text:'E', rotation:0, left:73.0, top:2.5})); 
      
    	
    	for(var i=0;i<alarm_legend.length;i++){
    		$('#alarm_legend').append(alarm_legend_row(alarm_legend[i]));
    	}
    	
    	// / Initializes all the positions, rotations, corners.
    	setTimeout(function(){
	    	$('.hmi-element').each(function(){
	    		$(this).css('transform','rotate('+$(this).attr('rotation')+'deg)');
	    		$(this).css('top',+$(this).attr('top')+'%');
	    		$(this).css('left',+$(this).attr('left')+'%');
	    		if($(this).hasClass('conveyor-turn')){
	    			$(this).width($(this).height());
	    			if(!msieversion()||msieversion()>8){
		    			$(this).find('.conveyor_turn_wall').width(($(this).width()/2)+2);
		    			$(this).find('.conveyor_turn_wall').height(($(this).height()/2)+2);
	    			}
	    		}
	    	});
    	},0);
    	
    	
    	// Subscribes to overview screen
    	socket.get('/overview/joinroom');
    	// Subscribes to the alarms room to be broadcasted to for updates
        socket.get("/dashboard/joinAlarms");
        
    	socket.on('overview',function(message){
    		$('div[tagname]').unbind();
    		
    		$.each(message,function(key,message){
    			setBackground($('div[tagname='+message.tag_name+']'),'#'+message.color_code);
    			setColor($('div[labeltagname='+message.tag_name+']'),'#'+message.text_color_code);
    			setVisibility($('div[estoptagname='+message.tag_name+']'), message.status_value);
    			//alert(message.status_value);
    			if(message.is_flashing==1){
	    			setTimeout(function(){
	    				setBackground($('div[tagname='+message.tag_name+']'),'#'+message.flash_color_code);
	    				setColor($('div[labeltagname='+message.tag_name+']'),'#'+message.flash_text_color_code);
	    			},1000);
    			}
    		});
    	});
    	
    	
    	
    	// ////////////////////
        // AlarmsModel //
        // ////////////////////
        // Collection to get the alarms

        var AlarmsModel = Backbone.Model.extend({
            urlRoot: ''    // not used really
        });

        var SailsAlarmsCollection = Backbone.Collection.extend({
            sailsCollection: "",
            socket: null,
            sync: function(method, model, options){
                if(typeof this.sailsCollection === "string" && this.sailsCollection !== "") {
                    this.socket = socket;

                    this.socket.get(this.sailsCollection, options, _.bind(function(alarms){
                        this.set(alarms);
                        alarmView.render();
                    }, this));

                    this.socket.on("alarms", _.bind(function(alarms){
                        this.set(alarms);
                        alarmView.render();
                    }, this));

                }
            }
        });

        var AlarmsCollection = SailsAlarmsCollection.extend({
            sailsCollection: '/dashboard/getAlarms',
            model: AlarmsModel
        });

        alarms = new AlarmsCollection();

        alarms.fetch();    // Gets the alarms

        var AlarmsView = Backbone.View.extend({
            el: '#alarmsdiv',
            initialize: function () {
            },
            template: _.template($('#alarm-template').html()),
            render: function () {
                this.$el.html("");
                var tcollection = this.collection.sortBy(function(message){
                    return new Date(message.get("timestamp")).getTime();
                });
                for(var i=0; i<tcollection.length; i++)
                {
                    this.$el.prepend(this.template(tcollection[i].toJSON()));
                }
            }
        });

        var alarmView = new AlarmsView({collection: alarms});
    	
    	
    	
    	$('.overview-fullscreen').click(function(){
    		$(this).toggleClass('fullscreen');
    		if($(this).hasClass('fullscreen')){
    			$('.sidebar-background').css('display','none');
    			$('.primary-sidebar').css('display','none');
    			$('.navbar').css('display','none');
    			this.oldTop = $('.main-content').css('top');
    			$('.main-content').css('top','0px');
    			this.oldPaddingLeft = $('.main-content').css('padding-left');
    			$('.main-content').css('padding-left','0px');
    			this.oldFooterMarginLeft = $('.isn-margin-footer-wrapper').css('margin-left');
    			$('.isn-margin-footer-wrapper').css('margin-left','0px');
    		}else{
    			$('.sidebar-background').css('display','');
    			$('.primary-sidebar').css('display','');
    			$('.navbar').css('display','');
    			$('.main-content').css('top',this.oldTop);
    			$('.main-content').css('padding-left',this.oldPaddingLeft);
    			$('.isn-margin-footer-wrapper').css('margin-left',this.oldFooterMarginLeft);
    		
    		}
    		fixheight();
    		$(window).resize();
    	});
    	
    	
    	function setBackground($element,color){
    		$element.css('background-color',color);
    	
    	}
    	function setColor($element,color){
    		$element.css('color',color);
    	}
    	
    	function setVisibility($element, value)
    	{
    		if (value == 0){
    			$element.css('visibility',"hidden");    		
    		}else{
    			$element.css('visibility',"visible");
    		}
    	}
    	
		$('#fullscreenAlarms').click(function(){
			fullscreenAlarm = !fullscreenAlarm;
			$( "#fullscreenAlarms" ).toggleClass( 'icon-chevron-down icon-1x', fullscreenAlarm );
			$( "#fullscreenAlarms" ).toggleClass( 'icon-chevron-up icon-1x', !fullscreenAlarm );			
			windowResize();
		});
		
    	
    	$(window).resize(function(){
    			windowResize();
    		});
    		$(window).resize();
    	}
    
    	function windowResize()
    	{
    		if(!fullscreenAlarm){
    			 $('#iframediv').fadeIn();
    			 $('#reportheader').fadeIn();
    			var maxHeight = ($('.main-content').height()*(2/3)) -  $('.overview-header').height()-115;
	    		var overViewParentWidth = $('#overview').parent().width();
	    		if(maxHeight < (overViewParentWidth/aspectRatio)){
	    			 $('#overview').animate({height:maxHeight});
	    			 $('#overview').height(maxHeight);
	    			 $('#overview').width($('#overview').height()*aspectRatio);
	    		}else{ // Full width
	    			$('#overview').animate({height:overViewParentWidth/aspectRatio});
	    			$('#overview').height(overViewParentWidth/aspectRatio);
	    			$('#overview').width('100%');
	    		}
	    		
	    		$('#alarmsdiv').height($('.main-content').height()*(1/3) - ($('.sort-destination-plan-titles').css('display')=='none'?0:$('.sort-destination-plan-titles').height())  - $('.alarms-header').height() - 70);
	    		
	    		
	    		$('.conveyor-turn').each(function(){
	    			$(this).width($(this).height());
	    			if(!msieversion()||msieversion()>8){
		    			$(this).find('.conveyor_turn_wall').width(($(this).width()/2)+2);
		    			$(this).find('.conveyor_turn_wall').height(($(this).height()/2)+2);
	    			}
	    		});
    		}else{
    			 $('#overview').animate({height:0});
    			 $('#reportheader').fadeOut();
    			 $('#iframediv').fadeOut();    			 
    			 $('#alarmsdiv').height($('.main-content').height()*(0.90) - ($('.sort-destination-plan-titles').css('display')=='none'?0:$('.sort-destination-plan-titles').height())  - $('.alarms-header').height() - 78);

    		}
    		
    	}
    
    </script>
    
