

<div class="row-fluid create-report-controls-wrapper">
<div class="span10 offset1 report-control-left-label"  style="min-height: 30px;padding-top: 5px; font-size:18px; font-weight:bold;margin-top: 33px;">
	<i class="icon-search icon-2x banner-icon-top" style="margin-top: -12px; margin-right: 10px;"></i><div class="banner-div-text">Search Filters</div>

</div>
</div>


    <!-- Modal -  -->
<div id="exportModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="exportModalLabelgenerate">Companies Export</h3>
    </div>
    <p style="margin:10px;">
    	Your report is being generated and will be available for 15 minutes.
    </p>
    <div class="modal-body" style="overflow:hidden;">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <!--<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="confirmdeletes"><%= __('Confirm') %></button>-->
    </div>
</div>

<div class="row-fluid create-report-controls-wrapper">
    <div class="row">
    
                   
    
        <div class="span10 offset2 create-report-controls" style="padding-top: 20px;">
           <div class="row-fluid">
               <div class="row">
                   <div class="span3 report-control-left-label"  style="min-height: 30px;padding-top: 5px;"><label for="search_company">Company:</label></div>
                   <div class="span8 report-control-right-control">
                       <input type="text" id="search_company" value="">
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>

<div class="row-fluid" style="margin-top:19px; margin-bottom:25px;">
    <div class="span10 offset1 page-controls-wrapper">
        <div class="row-fluid" id="reportheader"><span style="padding-left:10px;">Companies</span>
             <% if(req.session.user.policy[req.route.path].update==1){ %><div style="margin-right:10px;font-weight: 400;" class="btn btn-primary pull-right save_pull" id="create_company">Create New</div><% } %>
            <!--<% if(req.session.user.policy[req.route.path].update==1){ %><div style="margin-right:10px;font-weight: 400;" class="btn btn-primary pull-right save_pull" id="export_companies">Export</div><% } %>-->  
        </div>
        <div class="row-fluid key-indicaters-frame" id="iframediv">
            <div class="row-fluid">
                <table id="companies" class="display" cellspacing="0" width="100%">
			        <thead>
			            <tr>
			            	<th>Id<i class="icon-caret-down"></i><i class="icon-caret-up"></i></th>
			                <th><%= __('Company') %><i class="icon-caret-down"></i><i class="icon-caret-up"></i></th>
			                <th><%= __('Address') %><i class="icon-caret-down"></i><i class="icon-caret-up"></i></th>
			                <th><%= __('TravelCoordinator') %><i class="icon-caret-down"></i><i class="icon-caret-up"></i></th>
			            </tr>
			        </thead>
			 
			    </table>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="company-template">
	<div class="row-fluid " style="position:relative; cursor:default;" company_id="{{=company_id}}">
	{{ if(false&&latitude==null){ }}
	<div class="alert fade in" style="margin-bottom:0px; border-radius:0px;">
		<!-- <button type="button" class="close" data-dismiss="alert">&times</button>-->
		<strong>Warning:&nbsp;</strong>This address is invalid and cannot be geocoded by Google Maps. This address will not display on the maps screen.
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid" >
				<div class="row-category" >
    			</div>
			</div>
		</div>
	</div>
	{{ } }}
	
		
		
		<div class="row-fluid building-segment-wrapper">
			<div class="span5 segment-label" >Company Name:</div>
			<div class="span7" ><input type="text" id="company_name" class="company_name address-input"  maxlength="60" value="{{=company_name}}"></div>
		</div>
		<div class="row-fluid building-segment-wrapper">
			<div class="span5 segment-label">Street Number Begin:</div>
			<div class="span7"><input type="text" id="street_number_begin" class="address-input"  maxlength="60" value="{{=street_number_begin}}"></div>
		</div>
		<div class="row-fluid building-segment-wrapper">
			<div class="span5 segment-label">Street Number End:</div>
			<div class="span7"><input type="text" id="street_number_end" class="address-input"  maxlength="60" value="{{=street_number_end}}" ></div>
		</div>
		<div class="row-fluid building-segment-wrapper">
			<div class="span5 segment-label">Street Name:</div>
			<div class="span7"><input type="text" id="street_name" class="address-input"  maxlength="250" value="{{=street_name}}" ></div>
		</div>
		<div class="row-fluid building-segment-wrapper">
			<div class="span5 segment-label">City:</div>
			<div class="span7"><input type="text" id="city" class="address-input"  maxlength="60" value="{{=city}}"></div>
		</div>		
		<div class="row-fluid building-segment-wrapper">
			<div class="span5 segment-label">Province:</div>
			<div class="span7">
				<select id="province" class="address-input" >
					<option value="AB" {{if(province=='AB'){ }}selected="selected"{{ } }}>AB</option>
					<option value="BC" {{if(province=='BC'){ }}selected="selected"{{ } }}>BC</option>
					<option value="MB" {{if(province=='MB'){ }}selected="selected"{{ } }}>MB</option>
					<option value="NB" {{if(province=='NB'){ }}selected="selected"{{ } }}>NB</option>
					<option value="NL" {{if(province=='NL'){ }}selected="selected"{{ } }}>NL</option>
					<option value="NS" {{if(province=='NS'){ }}selected="selected"{{ } }}>NS</option>
					<option value="NT" {{if(province=='NT'){ }}selected="selected"{{ } }}>NT</option>
					<option value="NU" {{if(province=='NU'){ }}selected="selected"{{ } }}>NU</option>
					<option value="ON" {{if(province=='ON'){ }}selected="selected"{{ } }}>ON</option>
					<option value="PE" {{if(province=='PE'){ }}selected="selected"{{ } }}>PE</option>
					<option value="QC" {{if(province=='QC'){ }}selected="selected"{{ } }}>QC</option>
					<option value="SK" {{if(province=='SK'){ }}selected="selected"{{ } }}>SK</option>
					<option value="YT" {{if(province=='YT'){ }}selected="selected"{{ } }}>YT</option>
				</select>
			</div>
			<div class="row-fluid building-segment-wrapper">
				<div class="span5 segment-label">Postal Code:</div>
				<div class="span7"><input type="text" id="postal_code" class="address-input" maxlength="7" value="{{=postal_code}}"></div>
			</div>
			<div class="row-fluid building-segment-wrapper">
				<div class="span5 segment-label"><%= __('TravelCoordinator') %>:</div>
				<div class="span7 segment-label">{{=travel_coordinator}}</div>
		</div>
			
		</div>
		
	</div>
</script>

<script type="text/template" id="notes-template">
	<div class="row-fluid note" noteid="{{=id}}">
		<div class="span2">
			<span class="mobilelabel">Timestamp:</span>{{=note_datetime}}
		</div>
		<div class="span2">
			<span class="mobilelabel">User:</span>{{=user}}
		</div>
		<div class="span6"><span class="mobilelabel">Details:</span><div class="note-editable">{{=note}}</div></div>
		<div class="span2" style="padding-top:0px;">
			<div class="row-fluid" style="padding:6px;">
				{{ if(user=='<%=req.session.user.username%>'||<%=req.session.user.policy[req.route.path].update==1%>){ }}<a class="edit-note" style="color:#0F74BC;cursor:pointer;padding-right:6px;"><i class="icon-edit icon-2x"></i></a>{{ } }}
				{{ if(user=='<%=req.session.user.username%>'||<%=req.session.user.policy[req.route.path].update==1%>){ }}<a class="delete-note" style="color:red;cursor:pointer;"><i class="icon-remove-sign icon-2x"></i></a>{{ } }}
			</div>
		</div>
	</div>
</script>

<div class="row-fluid edit-item-section" style="display:none; margin-top:19px; margin-bottom:35px;">
    <div class="span10 offset1 page-controls-wrapper">
        <div class="row-fluid" id="reportheader"><span style="padding-left:10px;" id="building-section-title">Edit Company Details</span>
         	<% if(req.session.user.policy[req.route.path].update==1){ %><button style="margin-right:10px;font-weight: 400;" class="btn btn-primary pull-right save_pull" id="save_company"><i class="only-mobile icon-save"></i><span class="only-desktop">Save</span></button><% } %>
         	<% if(req.session.user.policy[req.route.path].delete==1){ %><button style="margin-right:10px;font-weight: 400;" class="btn btn-danger pull-right save_pull" id="delete_company"><i class="only-mobile icon-trash"></i><span class="only-desktop">Delete</span></button><% } %>
         	<button style="margin-right:10px;font-weight: 400;" class="btn pull-right save_pull" id="cancel_company"><i class="only-mobile icon-circle-arrow-left"></i><span class="only-desktop">Cancel</span></button>
         	<% if(req.session.user.policy[req.route.path].update==1){ %><div style="margin-right: 10px; color: rgb(153, 0, 0); font-weight: 400; display: none;" class="pull-right save_pull" id="changes_pending">Changes Pending. &nbsp;</div><% } %>
  		 </div>
        <div class="row-fluid " id="iframediv">
        	<div class="content-wrapper building-details-frame">
    			<div class="row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="row-category">
								<span class="" id="sales_title">
									<i class="icon-plus-sign" style="margin-right:10px; display:none;"></i>
									<i class="icon-briefcase"></i> &nbsp&nbsp<b>Company Information</b>
								</span>


							</div>
						</div>
					</div>
				</div>
			
				<div id="company_information_section" class="row-fluid">
				</div>

        		<div id="adminusers" style="width:100%; margin:0px; display:none;">
        		</div>
        		
				<div class="note-wrapper" style="display:none;">
	        		<div class="row-fluid">
						<div class="span12">
							<div class="row-fluid">
								<div class="row-category">
									<i class="icon-pencil"></i> &nbsp&nbsp<b>Note History</b>
									<div class="pull-right" style="height:40px;">
										<span class="row-category-button-wrapper">
											<span id="create_note" class="btn btn-success">
			                    				<span><i class="only-mobile icon-file-alt"></i><span class="only-desktop">Create Note</span></span>
							                </span>
										</span>
									</div>
									
						         	<% if(req.session.user.policy[req.route.path].delete==0){ %>
											<div class="pull-right" style="height:40px;">
												<span class="row-category-button-wrapper" id="save_note_parent">
													<span id="save_notes" class="btn btn-primary">
									                    <span><i class="only-mobile icon-save"></i><span class="only-desktop">Save Notes</span></span>
									                </span>
												</span>
											</div>
						         	<% }else{ %>
						         			<div class="pull-right" style="height:40px;">
												<span class="row-category-button-wrapper" id="save_note_parent">
													<button id="save_note_admin" class="btn btn-primary">
									                    <span><i class="only-mobile icon-save"></i><span class="only-desktop">Save</span></span>
									                </button>
												</span>
											</div>
						         	
						         	<% } %>
											
						         	<% if(true||req.session.user.policy[req.route.path].update==0){ %>
						         	<div style="margin-right: 10px; color: rgb(153, 0, 0); font-weight: 400; display: none;" class="pull-right save_pull" id="changes_pending_notes">Changes Pending. &nbsp;</div>
						         	<% } %>
								</div>
							</div>
						</div>
					</div>
					
					<div id="notes-table-header" class="tableheader row-fluid">
						<div class="span2">
							Timestamp
						</div>
						<div class="span2">
							User
						</div>
						<div class="span6">
							Details
						</div>
						<div class="span2">
							Modify
						</div>
					</div>
					<div id="notes-wrapper" class="row-fluid css-notes-wrapper">
					
					</div>
        		</div>
            </div>
        </div>
    </div>
</div>



<!-- Modal - confirms you want to continue to delete company -->
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabeldelete"></h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%= __('Cancel') %></button>
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" id="confirmdelete"><%= __('Delete') %></button>
    </div>
</div>

<script>

    $(document).ready(function(){
		var blockNoteSave = false;			
		var datatable = $('#companies').dataTable({
		        "processing": true,
		        "serverSide": true,
		        "dom":"tipr",
		        "ajax": {
		        	"url":"/companies/searchcompanies",
	        		"data":function(d){
	        			d.company_search = $("#search_company").val();
	        		},
	        		error: function(xhr, error, thrown){
	        			if(error.toString()=='parsererror'){
	        				location.reload();
	        			}else{
		    				$('.page-banner').after('<div class="alert alert-error" style="border-radius:0px;">'+
			                        '<button type="button" class="close" data-dismiss="alert">×</button>'+
			                        ''+error.toString()+'</div>');
			                if($('body').width()>979){
								$('.main-content').animate({
							        scrollTop: 0
							    }, 500);
							}else{
								$('html, body').animate({
							        scrollTop: 0
							    }, 500);
							}
		                }
	        		}
	        	},
		        "aoColumns":[
		        	{"mData":"company_id","visible":false}
			        ,{"mData":function(data,b){
			        	if(data.company_name==null){
			        		return '';
			        		}
			        	return "<b>"+data.company_name.toString()+"</b>";
			        	}
			        }
			        ,{"mData":function(data,b){ 
			        	return buildAddressString(data);
			        	}
			        }
			        ,{"mData":"travel_coordinator","visible":true}
		        ],
		        "rowCallback": function( row, data, displayIndex ) {
					$(row).attr('company_id',data['company_id']);
					$(row).click(function(){
						$('.edit-item-section').css('display','');
						$('#delete_company').css('display','');
    					company.fetch({company_id:parseInt($(row).attr('company_id'))});    // Gets the alarms
               		});
		        }
	    });
	    $('select[name=companies_length]').css('margin-top','10px');
	    $('#companies_length label').css('margin-bottom','0px');
	    
        $('#companies tbody').on('click', 'tr', function () {
        	$(this).siblings().removeClass('selected');
        	$(this).removeClass('selected').addClass('selected');
	    });
	    $('#companies').on('draw.dt',function(event,datatable){
	     	if(!isNaN(parseInt(company.get('company_id')))){
	     		$('#companies tbody tr[company_id='+company.get('company_id')+']').addClass('selected');
	     	}
	     	
    	});
    	
    	$('#create_note').click(function(){
	    	if(typeof(notes)!='undefined'){
	    		var noteid = 'new_'+Math.floor((Math.random() * 1000000) + 1);
	    		var newnote = new NotesModel({id:noteid,note:'',timestamp:new Date(),user:'<%=req.session.user.username%>'});
	    		notes.add(newnote);
	    		notesView.render();
	    		$('.note[noteid='+noteid+'] .edit-note').click();
	    	}	
		});

		$('#search_company').keydown(function(){
			setTimeout(function(){
				datatable.api().ajax.reload();
			},10);
		});
		
		$('#create_company').click(function(){
			$('#companies tbody tr').removeClass('selected');
			$('#delete_company').css('display','none');
			$('.edit-item-section').css('display','');
			notes.reset();	
			company = new CompanyModel({company_id:'new',company_name:'',street_number_begin:'',street_number_end:'',street_name:'',postal_code:'',city:'',province:'',latitude:'',longitude:'', travel_coordinator:''});
			companyView.render();
			if(notesView==null){
				notesView = new NotesBackboneView({collection: notes});
			}
			notesView.render();
			
            setTimeout(function(){
				if($('body').width()>979){
					$('.main-content').animate({
				        scrollTop: $(".edit-item-section").offset().top - $('.navbar-fixed-top').height()
				    }, 500);
				}else{
					$('html, body').animate({
				        scrollTop: $(".edit-item-section").offset().top
				    }, 500);
				}
            },100);
		
		});
		
		$('#cancel_company').click(function(){
			$('#delete_company').css('display','none');
			$('.edit-item-section').css('display','none');	
			$('#companies tbody tr').removeClass('selected');
		});
		
		$('#delete_company').click(function(){
			if(company.get('company_id')!='new'){
			
	            $('#myModalLabeldelete').html('Delete Company');
	            $('#deleteModal > div.modal-body').html('<p>Are you sure you want to delete <b>'+company.get('company_name')+'</b>?</p>');
	            $('#deleteModal').modal('show');
			}
		});
		
		$('#confirmdelete').click(function(){
				socket.get('/companies/deletecompany',{company_id:company.get('company_id')},function(response){
					datatable.api().ajax.reload(function(){},false);
					$('#delete_company').css('display','none');
					$('.edit-item-section').css('display','');			
					company = new CompanyModel({company_id:'new',company_name:''
												,street_number_begin:''
												,street_number_end:''
												,street_name:''
												,city:''
												,province:''
												,postal_code:''
												,travel_coordinator:''});
					companyView.render();
					$('#delete_company').css('display','none');
					$('.edit-item-section').css('display','none');	
				});	
		});
		
		$('#save_notes').click(function(){
			$('.alert-success').remove();
			$('.alert-danger').remove();
    		if($(this).hasClass('disabled')){
    			return;
    		}
			socket.get('/companies/updatecompany/', {company:company.toJSON(), notes: notes.toJSON()},function(response){
    			if(typeof(response.success)!='undefined'){
    				if(company.get('company_id')=='new'){
    					company.set('company_id',response.company_id);
    				}
	                $('.page-banner').after('<div class="alert alert-success fade in" style="border-radius:0px;">'+
	                        '<button type="button" class="close" data-dismiss="alert">×</button>'+
	                        '<strong>'+'Success'+':&nbsp</strong>'+'Changes have been saved'+'</div>');
	                if($('body').width()>979){
						$('.main-content').animate({
					        scrollTop: 0
					    }, 500);
					}else{
						$('html, body').animate({
					        scrollTop: 0
					    }, 500);
					}
	                setTimeout(function(){
	    				company.fetch({company_id:parseInt(company.get('company_id'))});  
	                },100);
                	
	                setTimeout(function(){
	                    setTimeout(function(){
	                        $('.alert-success').remove();
	                    },500);
	                    $('.alert-success').removeClass('in');
	                },alert_fadeout_time);
    			}else{

    				$('.page-banner').after('<div class="alert alert-error" style="border-radius:0px;">'+
	                        '<button type="button" class="close" data-dismiss="alert">×</button>'+
	                        ''+response.error.toString()+'</div>');
	                if($('body').width()>979){
						$('.main-content').animate({
					        scrollTop: 0
					    }, 500);
					}else{
						$('html, body').animate({
					        scrollTop: 0
					    }, 500);
					}
    			}
    		});
		});
		
		$('#export_companies').click(function(){
			$('#exportModal .modal-body').html('<div style="font-size: 16px; font-weight:400; text-align:right;" class="pull-right"><span class=""><i class="icon icon-cog icon-spin"></i></span>&nbsp;&nbsp;Generating Report...&nbsp;</div>');
            $('#exportModal').modal('show');
			socket.get('/companies/export',
				{timezoneoffset : new Date().getTimezoneOffset()
				, company_search : $("#search_company").val()
				},function(url){
					$('#exportModal .modal-body').html('<a class="pull-right btn btn-success" href="'+url.url+'">Download</a>');
				
			});
		
		});
		
    	$('#save_company').click(function(){
			$('.alert-success').remove();
			$('.alert-danger').remove();
    		var wasnew = company.get('company_id')=='new'?true:false;
    		socket.get('/companies/updatecompany', {company:company.toJSON(), notes: notes.toJSON()},function(response){
    			if(typeof(response.success)!='undefined'){
    				if(company.get('company_id')=='new'){
    					company.set('company_id',response.company_id);
    				}
	                $('.page-banner').after('<div class="alert alert-success fade in" style="border-radius:0px;">'+
	                        '<button type="button" class="close" data-dismiss="alert">×</button>'+
	                        '<strong>'+'Success'+':&nbsp</strong>'+'Changes have been saved'+'</div>');
	                if($('body').width()>979){
						$('.main-content').animate({
					        scrollTop: 0
					    }, 500);
					}else{
						$('html, body').animate({
					        scrollTop:0
					    }, 500);
					}
	                setTimeout(function(){ 
	    				if(wasnew){
							$('.edit-item-section').css('display','none');
							$('#delete_building').css('display','none');
							company.set('company_id','new'); // blocks table highlighted
	                	}else{
		    				company.fetch({company_id:parseInt(company.get('company_id'))}); 
	                	}
		                datatable.api().ajax.reload(function(){},false);
	                },100);
                	
	                setTimeout(function(){
	                    setTimeout(function(){
	                        $('.alert-success').remove();
	                    },500);
	                    $('.alert-success').removeClass('in');
	                },alert_fadeout_time);
    			}else{
    				$('.page-banner').after('<div class="alert alert-error" style="border-radius:0px;">'+
		                        '<button type="button" class="close" data-dismiss="alert">×</button>'+
		                        ''+response.error.toString()+'</div>');
	                if($('body').width()>979){
						$('.main-content').animate({
					        scrollTop: 0
					    }, 500);
					}else{
						$('html, body').animate({
					        scrollTop:0
					    }, 500);
					}
    			}
    		});
    	});
    	
    	
	    	 // just shows the changes are pending, by scanning through the collection to see if that's the case.
	    function setChangesPending(){
	    	var change = false;
	    	if(typeof(company.get('modified'))!='undefined'){
	    		change = true;
	    	}
	        
            if(typeof($('#save_company')[0])!='undefined'){
	        	$('#save_company')[0].disabled = !change;
	        	$('#save_note_admin')[0].disabled = !change;
            }
            if(typeof($('#save_notes')[0])!='undefined'){
            	if(!change){
            		$('#save_notes').addClass('disabled');
        		}else{
            		$('#save_notes').removeClass('disabled');
        		}
            }
	        if(change){
	            $('#changes_pending').css('display','block');
	            $('#changes_pending_notes').css('display','block');
	        }
	        else{
	            $('#changes_pending').css('display','none');
	            $('#changes_pending_notes').css('display','none');
	        }
	    }
	    
	    
    	
    	
    	
		///////////////////////////
	    /// COMPANY        ////////
	    ///////////////////////////   
		var CompanyModel = Backbone.Model.extend({
	        urlRoot: '/companies/getcompany',
	        socket:null,
	        sync:function(method,model,options){
	        	var where = options;
	            if(typeof this.urlRoot === "string" && this.urlRoot !== "") {
	                this.socket = socket;
	            	var collectionid = where.id?'/'+where.id:'';
	                this.socket.request(this.urlRoot+collectionid, where, _.bind(function(company){
	                    if(company.error != undefined){  // USER NO LONGER LOGGED IN!!!!!
	                        location.reload(); // Will boot back to login screen
	                    }
	                    this.clear();
	                    this.set(company);
                    	companyView.render();
	                    
	                }, this));
	            }
	        
	        }
	    });
	    var company = new CompanyModel();
		
	    	
	    ///////////////////////////
	    /// Company       View ////
	    ///////////////////////////	
	    var CompanyBackboneView = Backbone.View.extend({
	        el: '#company_information_section',
	        events: {
	           "change select.address-input":"inputChange",
	           "change input.address-input":"inputChange",
	           "keyup input.address-input":"inputChange"
	           
	        },
	        inputChange:function(event){
	        	company.set('modified',true);
	        	if(typeof(company.get($(event.target).attr('id')))!='undefined')
	        	{
	        		company.set($(event.target).attr('id'),$(event.target).val());
	        	}
	        	setChangesPending();
	        },
	        initialize: function () {
	            //this.render();
	        },
	        template: _.template($('#company-template').html()),
	        render: function () {
	    	    this.$el.empty();
	        	this.$el.append(this.template(company.toJSON()));
	        	<% if(req.session.user.policy[req.route.path].update==0){ %>
	        		$('#company_information_section input').attr('disabled','disabled');
	        	<% } %>
	        	notes.fetch({id:company.get('company_id')});
	        	setChangesPending();
				
	        }
	    });
	    var companyView = new CompanyBackboneView();
	   
	   
	   
	   ///////////////////////////
	    ///  NOTES ////////
	    ///////////////////////////
	    	
		var NotesModel = Backbone.Model.extend({
	        urlRoot: '/contacts/note'
	    });
	
	    var NotesCollection = Backbone.Collection.extend({
	        sailsCollection: "",
	        socket: null,
	        sync: function(method, model, options){
	            var where = {};
	            if (options.where) {
	                where = {
	                    where: options.where
	                }
	            }
	            if(options.id){
	            	where.id = options.id;
	        	}
	            if(typeof this.sailsCollection === "string" && this.sailsCollection !== "") {
	                this.socket = socket;
	            	var collectionid = where.id?'/'+where.id:'';
	                this.socket.request("/" + this.sailsCollection+collectionid, where, _.bind(function(tnotes){
	                    if(tnotes.error != undefined){  // USER NO LONGER LOGGED IN!!!!!
	                        location.reload(); // Will boot back to login screen
	                    }
	                    this.set(tnotes);
	                    notesView = new NotesBackboneView({collection: notes});
	                }, this));
	            }
	        }
	    });
	
	    var NotesCollection = NotesCollection.extend({
	        sailsCollection: 'companies/notes',
	        model: NotesModel
	    });
	
	    var notes = new NotesCollection();
	    //buildingnotes.fetch({id:11});
	
	
	
	
	
	    ///////////////////////////
	    ///     Notes View     ////
	    ///////////////////////////
	
	    var NotesBackboneView = Backbone.View.extend({
	        el: '#notes-wrapper',
	        events: {
	            "click a.delete-note"   : "deleteNote",
	            "click a.edit-note" : "editNote"
	
	        },
	        editNote:function(event){
	        	var self = this;
	        	var blurTimeout;
	        	var trackdetailstyping = '';
	        	var $notelement = $(event.target).parents('.note');
	        	var noteid= $notelement.attr('noteid');
	        	$('.no-notes-remove').remove();
	        	$notelement.find('.note-editable').replaceWith('<div class="row-fluid"><div class="row-fluid"><textarea maxlength=512" class="note-textarea-editable">'+this.collection.get(noteid).get('note')+'</textarea></div><div class="row-fluid"><button class="save-note-textarea-editable btn btn-primary">Set</button><button class="cancel-note-textarea-editable btn ">Cancel</button></div></div>');
	        	
	    		$notelement.find('.cancel-note-textarea-editable').mousedown(function(){
	    			blockNoteSave = true;
	    			
	    		});
	    		
	    		$notelement.find('.note-textarea-editable').unbind();
	        	$notelement.find('.note-textarea-editable').blur(function(){
		        	blurTimeout = setTimeout(function(){
		        		if(!blockNoteSave&&trackdetailstyping!=''){
				        	self.collection.get(noteid).set('note', trackdetailstyping);
			        		self.collection.get(noteid).set('modified', true);
	        				company.set('modified',true);
			        		setChangesPending();
			        		
		        		}else{
		        			blockNoteSave = false;
		        			if($notelement.find('.note-textarea-editable').html()==''&&noteid.indexOf('new')!=-1){
		        				self.collection.remove(self.collection.get(noteid));
		        			}
		        		}
		        		self.render();
		        	},200);
	        	});
	        	$notelement.find('.note-textarea-editable').keyup(function(){
	        		trackdetailstyping = $notelement.find('.note-textarea-editable').val();
	        	});
	        	
	        	trackdetailstyping = $notelement.find('.note-textarea-editable').val();
	        	$notelement.find('.note-textarea-editable').focus();
	        	
	        },
	        deleteNote:function(event){
	        	var $notelement = $(event.target).parents('.note');
	        	var noteid= $notelement.attr('noteid');
	        	if($notelement.attr('noteid').indexOf("new")>-1){
	        		this.collection.remove(noteid);
	        		this.render();
	        	}else{
	        		this.collection.get(noteid).set('deleted',true);
	        		this.render();
	        	}
	        	company.set('modified',true);
        		setChangesPending();
	        },
	        initialize: function () {
	            this.render();
	        },
	        template: _.template($('#notes-template').html()),
	        render: function () {
	            this.$el.html("");
	            
	        	if(company.get('company_id')!='new'){
	        		//$('#building-sales').css('display','')
	        	}
	            var tcollection = this.collection.sortBy(function(notes){
	                return notes.get("timestamp").toString().toUpperCase();
	            });
	
	            for(var i=0; i<tcollection.length; i++)
	            {
	                if(typeof(tcollection[i].get('deleted'))=='undefined'){
	                	tcollection[i].set('note_datetime',toDateTimeString(tcollection[i].get('timestamp')));
	                	this.$el.prepend(this.template(tcollection[i].toJSON()));
	            	}
	            }
	            if(tcollection.length==0){
	            	this.$el.append('<div class="no-notes-remove">No Notes Found.</div>');
	            }
	            
	            
	            if(company.get('company_id')=='new'){
					$('.note-wrapper').css('display','none');
	            }else{
					$('.note-wrapper').css('display','');
	            }
	            
	            $('#save_note_admin').unbind();
	            $('#save_note_admin').click(function(){
		    		$('#save_company').click();
				});
	            
	            //setChangesPending();  // recalculates and displays if changes are pending
	        }
	    });
	    var notesView = null;
	   
        
    });
</script>
